

<div class="container-fluid" id="top_mar">
<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-1 white" >
<div class="container-fluid" id="dashsidebar"  >

<div class="row" >


 
   <div class="col-12"
      (click)="leads=true"  routerLink="/dash">
      <i class="fas fa-tachometer-alt"></i><span>Dashboard</span>

   </div>
   <div class="col-12"
   (click)="leads=true">

   <i class="fas fa-envelope"></i>   Messages
</div>
  
  <div  id="top" class="col-12" (click)="require=true"><span><i class="fas fa-tasks"></i>Leads
  </span>
    </div>

    <div class="col-12"
    (click)="leads=true" routerLink="/companyp">
 
    
    <i class="fas fa-users"></i>Company Profile
  </div>
    <div class="col-12"
    (click)="leads=true"  routerLink="/settings">
 
    
    <i class="fas fa-cogs"></i>  Settings
 </div>

  </div>
  

</div>


  </div>
<div class="col-lg-10 col-md-12 col-sm-12" >
<div class="container-fluid txt_mar">
  <div class="row" >
      

      <div class="card col-lg-4 col-md-4 col-sm-4 col-12" >
          <div class="card-body">
            <div  class="container-fluid" id="titlecard">
      
              <div class="row">
      
                <div class="col-lg-6 col-md-6 bg_yellow">
                    <img class="img_hw"  src="../../assets/img_286382.png" >
      
                </div>
             <div  class="col-lg-6 col-md-6 txt_mar"  ><h4 class="h4_mar">Enquires</h4></div>
      
              </div>
            </div>
            <div class="martop_10">
                <a  class="btn btn-outline-primary col-lg-6" >View Products</a>
                <a  class="btn btn-outline-primary col-lg-6 "  >Add product</a>

            </div>
          
      
          </div>
          
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-4 col-12" >
          <div class="card-body">
            <div  class="container-fluid" id="titlecard">
      
              <div class="row">
      
                <div  class="col-lg-6 col-md-6 bg_orange">
                    <img  src="../../assets/Investment-512.png" class="img_hw" >
      
                </div>
             <div  class="col-lg-6 col-md-6 txt_mar"  ><h4 class="h4_mar">Leads</h4></div>
      
              </div>
            </div>
            <div class="martop_10" >
                <a  class="btn btn-outline-primary col-lg-6" >View Products</a>
                <a  class="btn btn-outline-primary col-lg-6 " routerLink="/addproduct" >Add product</a>

            </div>
          
      
          </div>
          
        </div>
<!--LEads-->
<div class="card col-lg-4 col-md-4 col-sm-4 col-12" >
          <div class="card-body">
            <div  class="container-fluid" id="titlecard">
      
              <div class="row">
      
                <div  class="col-lg-6 col-md-6 bg_yellow">
                    <img  src="../../assets/catalog-92528.png" class="img_hw">
      
                </div>
             <div  class="col-lg-6 col-md-6 txt_mar"  ><h4 class="h4_mar">Catlog Views</h4></div>
      
              </div>
            </div>
            <div class="martop_10">
                <a  class="btn btn-outline-primary col-lg-6" >View Products</a>
                <a  class="btn btn-outline-primary col-lg-6 " >Add products</a>

            </div>
          
      
          </div>
          
        </div>




        


  </div>
  <div class="row mar_2" >
    <div class=" card  col-lg-6" >
<div>
 <h3>Active Plans</h3> 
</div>
<div class="container-fluid">
Plans Activated : Unlimited Leads


</div>
    </div>
    <div class="card col-lg-6" >
        <div>
         <h4>View Your Business Card</h4> 
        </div>
        <div>
          <img src="../../assets/catalog-92528.png" id="img_height">
        </div>
            </div>

  </div>
  <div class="container-fluid card mar_2" >
      <div class="bgw">
          <h3 class="h4_mar">Products</h3>
         </div>
    <div class="row">
        <div class=" card col-lg-4 col-md-4">

           

            <div class="display">
              <canvas baseChart
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [chartType]="doughnutChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
            </div>
        
             
             </div>
             <div class=" card col-lg-4 col-md-4">
                   
        
              <div class="display">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
              </div>
          
               
               </div>
               <div class=" card col-lg-4 col-md-4">
                   
        
                <div class="display">
                  <canvas baseChart
                              [data]="doughnutChartData"
                              [labels]="doughnutChartLabels"
                              [chartType]="doughnutChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                </div>
            
                 
                 </div>
    </div>
    
     
     
      
      
      
      
      
            
     
  
    </div>


    <div class="container-fluid card mar_2">
<div class="bgw">
 <h3 class="h4_mar">Catalog Performance</h3>
</div>
<div class="row">


    <div class="col-lg-8">
        <div class="display">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [colors]="chartColors"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
       
      </div>
  
  

</div>
    </div>
 

</div>  
</div>
</div>

</div>


















