#top
{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  z-index:1; /*Add this*/
  width: 100%;

}

.margin_auto {
  margin: auto;
}
#two {
  width: 100%;
}
#input {
  width:100%;
  margin-top:1%
}

#button_dash {
  margin-top:1%;
}
#results {
  width:80%
}
#button1 {
  width:100%;
  margin-top:1%
}
#res {
  height:50px;
}
#otp_1 {
  width:70%;
  height:100%;
  margin-top:10%;
  margin-left:15%
}
.mid {
  text-align: center;
}
#otp_img {
  width:200px;
  height:200px;
}

#otp_2 {
  background-color: white;
}
select {
  zoom: 0.5;
}

.half {
  width: 50%;
}
#button2 {
  margin-top:1%;
}

#post1 {
  background-color:white;
  height:fit-content;
  border-radius: 25px
}
#post2 {
  margin-top: 5px;
}

#post3 {
  float: right;
}

#leftform {
  height:auto;
  border-radius:25px;
  background-color: gold
}

#hide {
  display:block;
  background-color: white
}
strong {
  color: blueviolet;
}

#one {
  float :right;
  cursor:pointer
}

#otp1 {
  margin: auto;
  width:40%;
  padding: 10px;
  text-align: center
}
#otp_err {
  text-align: center;
  color:red
}

#options
{

  z-index:1; /*Add this*/
  width: 100%;
}
#results

{
  width: fit-content;
  height:fit-content;
  top: 15%;
  left: 0;
  position: fixed;
  
margin-left: 18%;
color:black;
  background-color:white;
  z-index: 99;
border-radius: 10px
}
#results #res:hover

{
  background-color:lightslategray;  

}
@media screen and (max-width: 600px) {
  #results{ top: 200px;
  margin-left:10px}   /* h  de it elsewhere */
 
}



#post 
{
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    position:fixed;
    display: block;
    margin-left: 0%;

    background-color:black;
    z-index: 99;

}


#mobile
{
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    position:fixed;
    display: block;
    margin-left: 0%;
    

    background-color:black;
    z-index: 99;

}





.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}



