<div class="container-fluid" style="margin-top:120px" id="companyprofilepage">
  <div class="container-fluid" id="companyprofilepagetop">
    <div class="row">
      <div class="col-lg-6 col-md-6">

        <h3>Tie Knots International</h3>
        Moti Nagar, New Delhi, Delhi
      </div>

      <div class="col-lg-3 col-md-3">

      </div>
      <div class="col-lg-3 col-md-3" style="float:right">
        <div class="container-fluid">
          <div class="row" style="margin:auto">
            <button id="contactbuttons" style="float: right" class="  btn btn-outline-primary   col-lg-12">
              <i class="fas fa-phone"></i>Call Now</button>


          </div>
          <div class="row" style="margin:auto">
            <button id="contactbuttons" style="float: right" class="btn btn-outline-success col-lg-12">
              <i class="fas fa-envelope"></i>Message</button>

          </div>

        </div>


      </div>
    </div>



  </div>




  <div class="container-fluid" style="overflow: scroll;height: 100%;">
    
    <!--Navigator conatining Home , About -->
    <div class="container-fluid" style="margin-top:2%" id="navcompany">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <h4 style="color: black"><i class="fas fa-list-ul"></i>Our Products</h4>
        </div>


        <div class="col-lg-3  col-md-2 " (click)="home=true;about=false;contactus=false">
          <h3>Home</h3>
        </div>
        <div class="col-lg-3 col-md-3" (click)="about=true;home=false;contactus=false;">
          <h3>About Us</h3>
        </div>
        <div class="col-lg-3 col-md-3" (click)="about=false;home=false;contactus=true;">
          <h3>Contact Us</h3>
        </div>
      </div>
      

    </div>

  <!--Home-->
   <div class="container-fluid" *ngIf="home" >
      <div class="container-fluid" style="margin-top:2%;">
          <div class="row">
          <div class="col-lg-4 col-md-4 " style="position: relative;">
            <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%">
          <button style="position: absolute;left:40%;top:90%" class="btn btn-primary">Get Quote</button>
    
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <div >
    
                 
                    <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%;height:50%x">
                  </div>
                </div>
              
                <div class="col-lg-3 col-md-3">
                  <div >
    
                 
                    <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%;height:50%x">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div >
    
                 
                    <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%;height:50%x">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div >
    
                 
                    <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%;height:50%x">
                  </div>
                </div>
              
                 
    
    
              </div> 
              <div class="row" style="margin-top:3%">
                <div class="col-lg-3 col-md-3">
                  <div >
    
                 
                    <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%;height:50%x">
                  </div>
                </div>
              
                <div class="col-lg-3 col-md-3">
                  <div >
    
                 
                    <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%;height:50%x">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div >
    
                 
                    <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%;height:50%x">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div >
    
                 
                    <img  src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="max-width:100%;height:50%x">
                  </div>
                </div>
              
                 
    
    
              </div>
             
    
            </div>
    
          </div>
          </div>
    
        </div>




    
        <div class="container-fluid" style="margin-top:2%;height: fit-content; background:greenyellow">
          <div style="text-align: center">
            <h3 >Company Factsheet</h3>
          </div>
    
          <div class="container-fluid; " style="margin-top:3%">
            <div class="row" style="text-align: center">
              <div class="col-lg-4 col-md-4">
    
                <div style="border-radius: 25px">
                  <span style="font-size: 2em; color: Tomato;">
                    <i class="fas fa-building "></i>
                  </span>
                </div>
                <div>
                 <h3> Nature of Business</h3>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
    
                <div style="border-radius: 25px">
                  <span style="font-size: 2em; color: Tomato;">
                    <i class="fas fa-building "></i>
                  </span>
                </div>
                <div>
                  Nature of Business
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
    
                <div style="border-radius: 25px">
                  <span style="font-size: 2em; color: Tomato;">
                    <i class="fas fa-building "></i>
                  </span>
                </div>
                <div>
                  Nature of Business
                </div>
              </div>
    
    
            </div>
    
          </div>
    
    
    
          <div class="container-fluid" style="background-color: rgb(226, 25, 25)" style="margin-top:2%">
    <div style="text-align: center ;background-color: white;word-break: break-all">
      Tie Knots International was built in year jsbibisbfbeojbofbwoebofbwoebfoewbfooooefew.
      efwe
      <div style="margin:auto"> 
          <button class="btn  btn-outline-primary" style="text-align: center;margin:auto"> Read More</button>
  
      </div>
    </div>
   

          </div>
    
        </div>
    
        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 scrollmenu  " style="margin-top:10px;border: 1px solid lightgrey;">
      
      
                <a *ngFor="let i of cities" style=" width:200px;" href="{{i}}">
      
                  <img src="    https://hm.imimg.com/imhome_gifs/cctv-camera.jpg" style="height: 200px">
      
                  <!-- <div style="border-radius:50px;background-color:rgb(231, 220, 220);" >
                                  <img style="border-radius:50px;max-width:100%;height: 100px;" src="https://cdn3.iconfinder.com/data/icons/landmarks-line-vol-1/512/delhi__state__Landmark__building__capital__monument__architecture-512.png">
                                  <div style="text-align: unset;">{{i}}</div>
                                     
                                </div> -->
      
                </a>
      
      
      
      
              </div>
            </div>
      
          </div>




<div class="container-fluid" style="margin-top: 3%">
<div class="row">
    <div class="card col-lg-3">
        <div class="card">
          <img src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="height:200px;max-width:100%">
     
         <button  class="btn btn-outline-primary">Get Quote</button>
      
       
        </div>    
       
         </div>
  
  <div class="card col-lg-3">
      <div class="card">
        <img src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="height:200px;max-width:100%">
     <div>
       <button class="btn btn-outline-primary">Get Quote</button>
     </div>
     
      </div>    
     
       </div>
       <div class="card col-lg-3">
          <div class="card">
            <img src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="height:200px;max-width:100%">
         <div>
           <button class="btn btn-outline-primary">Get Quote</button>
         </div>
         
          </div>    
         
           </div>
           <div class="card col-lg-3">
              <div class="card">
                <img src="https://3.imimg.com/data3/AF/BB/MY-1903201/embossed-or-engraved-cufflinks-500x500.jpg" style="height:200px;max-width:100%">
             <div>
               <button class="btn btn-outline-primary">Get Quote</button>
             </div>
             
              </div>    
             
               </div>
  
       
              
 

</div>
</div>




<div class="container-fluid" style="margin-top: 3%">
<div ><h3 style="border-bottom:2px solid yellow;text-align: center;border-width: 10%">Reach Us</h3></div>
<div class="row" style="text-align: center">
    <div class="col-lg-6">
        <div>
        <h3>
          Tie Knots International 
        </h3>
        </div>
        <div>
            Hitansh Anand 
        </div>
        <div>
          
        </div>
        <div>
        
        </div>
          </div>
        <div class="col-lg-6">
           <div>
             <h3>
              Our Company 
             </h3>
           </div> 
        
           <div>
              About Us
           </div>
           <div>
                 Our Products
        
           </div>
           <div>
                         Company Video

           </div>
           <div>
             Contact Us 
           </div>

           
        
        
        </div>
        
</div>
<div style="text-align:center"  style="margin-top:3%">
          
    <div  style="text-align:center;margin:auto" id="share">
        Share Us: <!-- Facebook -->
        <a class="fb-ic">
          <i class="fa fa-facebook white-text mr-4"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <i class="fa fa-twitter white-text mr-4"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
          <i class="fa fa-google-plus white-text mr-4"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
          <i class="fa fa-linkedin white-text mr-4"> </i>
        </a>
    </div>
    

  </div>


</div>





   </div>






   <!--About US-->
   <div class="container-fluid" *ngIf="about">

<div class="container-fluid" style="margin-top: 3%;">
  <div><h3 style="border-bottom: 2px solid brown;text-align: center">Tie knot International</h3></div>
  <div>
      Incepted in the year 1992, Tie Knots International is a principal name in the industry located in (Delhi, India). We are the foremost name offering top quality range of Mens Neckties, Cufflinks And Tie Clips, Ladies Scarves, Silk Pocket Squares, Corporate Gift Set, Designer Ties, Bow Ties and Ascot Cravat. These collections are made-up by experts taking full care of the quality of the threads &yarns used and fitting as per the requirements of the clients. All these collections are available as per the different necessities of the clients. They are accessible in various sizes & textures and as per the necessities &budgets of clients. They are highly valued for its pure fabrics that make wearer feel good after wearing these products.

  </div> 
  <div>
      Incepted in the year 1992, Tie Knots International is a principal name in the industry located in (Delhi, India). We are the foremost name offering top quality range of Mens Neckties, Cufflinks And Tie Clips, Ladies Scarves, Silk Pocket Squares, Corporate Gift Set, Designer Ties, Bow Ties and Ascot Cravat. These collections are made-up by experts taking full care of the quality of the threads &yarns used and fitting as per the requirements of the clients. All these collections are available as per the different necessities of the clients. They are accessible in various sizes & textures and as per the necessities &budgets of clients. They are highly valued for its pure fabrics that make wearer feel good after wearing these products.

  </div>
  
</div>

<div class="container-fluid" style="margin-top:4%;background-color: rgb(228, 225, 225)">
  <div    >
  <h2 style="text-align: center;border-bottom:2px solid chocolate;border-width: 50%">Fact Sheet</h2>
  </div>
  <div class="container-fluid " style="height: 300px  ;margin-top:2%">
      <div class="row">
          <div  style="border-bottom:2px solid rgb(161, 159, 159)" class="col-6">
        <h4 >  Nature of Business</h4>  
    
          </div>
          <div style="border-bottom:2px solid  rgb(161, 159, 159);border-left:2px solid rgb(161, 159, 159)" class="col-6">
              <h4 >  Nature of Business</h4>  
            </div>
          </div>
          <div class="row">
              <div  style="border-bottom:2px solid rgb(161, 159, 159)" class="col-6">
            <h4 >  Nature of Business</h4>  
        
              </div>
              <div style="border-bottom:2px solid  rgb(161, 159, 159);border-left:2px solid rgb(161, 159, 159)" class="col-6">
                  <h4 >  Nature of Business</h4>  
                </div>
              </div>
              <div class="row">
                  <div  style="border-bottom:2px solid rgb(161, 159, 159)" class="col-6">
                <h4 >  Nature of Business</h4>  
            
                  </div>
                  <div style="border-bottom:2px solid  rgb(161, 159, 159);border-left:2px solid rgb(161, 159, 159)" class="col-6">
                      <h4 >  Nature of Business</h4>  
                    </div>
                  </div>
    
   

      
	



    
    <div>

    </div>

  </div>

</div>


<div class="container-fluid" style="margin-top:8%"> 
  <div style="text-align: center;border-bottom: 2px solid chocolate;border-bottom-width:50%"> <h4>WHY US?</h4></div>


  <div>
      We, Tie Knots International are foremost name in the marketplace offering excellent range of Mens Neckties, Cufflinks And Tie Clips, Ladies Scarves, Silk Pocket Squares, Corporate Gift Set, Designer Ties, Bow Ties and Ascot Cravat. We are highly valued for various factors like:
      <ul>
        <li>    Superior Quality
</li>

<li>
      Competitive Prices

</li>
<li>
      Customizations


</li>

<li>
      Customer centric approach

</li>

<li>
      Oldest people of necktie trade

</li>

      </ul>
  </div>
</div>




<div class="container-fluid" style="width:90%;margin-top:8%;background-color: rgb(49, 49, 245)" >
 
    <div   class="container-fluid" style="width:100%;background-color:rgb(172, 168, 168)">
      <h3 style="color:white;padding:10px 10px;text-align:center">Tell What You Need??</h3>
    </div>
    <div>
      <div style="color:white"> Describe Your Requirement in Detail </div>
<textarea [(ngModel)]="querytosent" style="width: 100%" name="querytosent"></textarea>
    </div>
    <div  class="container-fluid" >
        <button  class="btn" (click)="querysubmit(querytosent)" style="margin:auto;display: block;color:white ;background-color: rgb(0, 166, 153);" >Submit Query</button>

    </div>
<div  style="visibility: hidden;">
 You Information  
</div>

</div>

<div class="container-fluid" style="margin-top:4%">
<div style="text-align: center;border-radius:2px solid lightblue"><h5>We Also Deal In</h5></div>

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-6">
     <img  src="https://hm.imimg.com/imhome_gifs/cctv-camera.jpg" style="max-width:100%">
            </div>
            <div class="col-lg-6">
            <div>
              Logo Ties 
              <div>
             <a href="">   View More</a>
              </div>
            </div>
             </div>
     
          </div>
     
     
         </div>

         
         <div class="col-lg-3">
            <div class="row">
              <div class="col-lg-6">
       <img  src="https://hm.imimg.com/imhome_gifs/cctv-camera.jpg" style="max-width:100%">
              </div>
              <div class="col-lg-6">
              <div>
                Logo Ties 
                <div>
               <a href="">   View More</a>
                </div>
              </div>
               </div>
       
            </div>
       
       
           </div>
  
         
           <div class="col-lg-3">
              <div class="row">
                <div class="col-lg-6">
         <img  src="https://hm.imimg.com/imhome_gifs/cctv-camera.jpg" style="max-width:100%">
                </div>
                <div class="col-lg-6">
                <div>
                  Logo Ties 
                  <div>
                 <a href="">   View More</a>
                  </div>
                </div>
                 </div>
         
              </div>
         
         
             </div>
    
         
             <div class="col-lg-3">
                <div class="row">
                  <div class="col-lg-6">
           <img  src="https://hm.imimg.com/imhome_gifs/cctv-camera.jpg" style="max-width:100%">
                  </div>
                  <div class="col-lg-6">
                  <div>
                    Logo Ties 
                    <div>
                   <a href="">   View More</a>
                    </div>
                  </div>
                   </div>
           
                </div>
           
           
               </div>
      
               

  
       
  </div>

</div>


</div>


<footer style="text-align: center;background-color:ghostwhite;margin-top:4" >
  <div>
      © Tie Knots International. All Rights Reserved (Terms of Use)

  </div>
  <div>
        Developed and Managed by Aplhnyite Pvt Ltd.

  </div>
  
</footer>

   </div>














   <!--Contact-US-->
   <div class="container-fluid" *ngIf="contactus" style="margin-top:5%;">
     <div class="container-fluid">
       <div class="row">
         <div class="col-lg-4">
           <div>
           <div><i class="fas fa-map-marker-alt"></i>Address:</div>   
<div>Tie Knots International</div>
   <div>
                   Hitansh Anand(Partner)

   </div>
  <div>
                  No. 6, DLF Industrial Area, Moti Nagar, Moti Nagar, New Delhi - 110015, Delhi, India

  </div> 
  <div style="margin-top:5%">
      <div>
          Call Us:
      </div>
      <div>
         08048077239
      </div>
       <div>
         Send SMS
       </div>
       
  </div>   
  <div style="margin-top:5%">
  <div>  Mobile:</div>  
  <div>
      +91-9999649077

  </div>    
  <div>
          +91-9811060727

  </div>
       
  </div>   
 
  
 

           </div>

         </div>
         <div class="col-lg-8">
            <div class="container-fluid" style="width:90%;background-color: rgb(49, 49, 245)" >
 
                <div   class="container-fluid" style="width:100%;background-color:rgb(172, 168, 168)">
                  <h3 style="color:white;padding:10px 10px;text-align:center">Tell What You Need??</h3>
                </div>
                <div>
                  <div style="color:white"> Describe Your Requirement in Detail </div>
            <textarea [(ngModel)]="querytosent" style="width: 100%" name="querytosent"></textarea>
                </div>
                <div  class="container-fluid" >
                    <button  class="btn" (click)="querysubmit(querytosent)" style="margin:auto;display: block;color:white ;background-color: rgb(0, 166, 153);" >Submit Query</button>
            
                </div>
            <div  style="visibility: hidden;">
             You Information  
            </div>
            
            </div>

         </div>

       </div>

     </div>
     <div class="container-fluid" style="margin-top:10px">
        <div  style="text-align: center;background-color:ghostwhite;" >
          <div>
              © Tie Knots International. All Rights Reserved (Terms of Use)
        
          </div>
          <div>
                Developed and Managed by Aplhnyite Pvt Ltd.
        
          </div>
          
       
       </div>
       
      </div>
   </div>
  


</div>