#navcompany>div>div{
background-color: rgb(218, 216, 216);
margin:auto;
text-align: center;
margin-top:1%;
height:40px;
color:grey;


}
#navcompany>div>div>h3:hover{
    cursor: pointer;
    color:black;
    /* text-decoration: underline;
    text-decoration-color: green;
    text-decoration-style:initial;
    -moz-text-decoration-style: double;
    -moz-context-properties: 3px;
     */
   border-bottom: 5px solid green;
   border-bottom-width: 50%;
    }




div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
display: inline-block;
    color: black;   
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    -webkit-filter: brightness(100%);
}

img:hover {
    cursor: pointer;
    -webkit-filter: brightness(20%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
#share>a:hover
{
    cursor: pointer;
}
.row>div
{position: relative;

}