
<div style="margin-top:120px" >
<div class="container">
  <div class="row">
    
<div *ngFor="let i of data" >
  <div class="row">
  <div class="col-lg-6 col-md-4" >
      <img  style="max-width: 100%;max-height: 100%;margin:auto" src="http://127.0.0.1:3000/uploads/{{i['image']}}">

  </div>
  <div class="col-lg-6 col-md-8">
<div>
    <h3>
        Sold By : <a href="">
          {{i['Seller']}}
        </a>
      </h3>
</div>
<div>
 <h4> Rate: {{i['Rate']}}</h4>
</div>
<div>
  <button class="btn btn-outline-success">Contact Now </button>
</div>
 
  </div>
</div>
</div>

  </div>
  </div>

</div>
