<div class="container-fluid" style="margin-top:120px">
    <div class="row">
      <div class="col-lg-2 col-md-0 col-sm-1"  style="color: white">
    <div class="container-fluid" id="dashsidebar"  >
    
    <div class="row" >
    
    
     
       <div class="col-12"
          (click)="leads=true"  routerLink="/dash">
          <i class="fas fa-tachometer-alt"></i><span>Dashboard</span>
    
       </div>
       <div class="col-12"
       (click)="leads=true">
    
       <i class="fas fa-envelope"></i>   Messages
    </div>
      
      <div  style="word-wrap:break-word" class="col-12" (click)="require=true"><span><i class="fas fa-tasks"></i>Leads
      </span>
        </div>
    
        <div class="col-12"
        (click)="leads=true" routerLink="/companyp">
     
        
        <i class="fas fa-users"></i>Company Profile
      </div>
        <div class="col-12"
        (click)="leads=true"  routerLink="/settings">
     
        
        <i class="fas fa-cogs"></i>  Settings
     </div>
    
      </div>
      
    
    </div>
    
    
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12">
          <form style="text-align:center">
                    
              <div class="form-group">
                  <label>Name</label>
                

              </div>
              <div class="form-group">
                  <label>Rate</label>
                  
              </div>
             
              
              <div class="form-group">
                  <label>uysfdi</label><br>
                 
                  

              </div>
            






              <div class="form-group">
                  <button  
                  class="btn btn-primary" >Save</button>
              </div>

          </form>
      </div>
      </div>
      </div>